@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/mixins";

$primary: #567572;      // Sagebrush green
$secondary: #964F4C;    // Marsala

$light: #FFFAF0;    // Offwhite
$dark: #696667;     // Granite Grey

$text-light: #FFFAF0;
$text-dark: #696667;

$navbar-light-color: #FFFAF0;
$navbar-dark-color: #696667;

$spacer: 2rem;

// TO-DO: Remove unnecessary .scss file when done
@import "../node_modules/bootstrap/scss/bootstrap";

html {
    // scroll-behavior: smooth; Using JS instead
}

// Styling up for some basic elements
.homepage {
    height: 90vh;
}

.homepage div#bottomlink {
    text-align: center;
}

.footer {
    height: 30vh;
    text-align: center;
}

// For the onload animation
@keyframes slideIn {
  0% {
    transform: translateX(500px) scale(.2);
  }
  100% {
    transform: translateX(0px) scale(1);
  }
}

@keyframes slideUp {
  0% {
    transform: translateY(100px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes slideDown {
    0% {
        transform: translateY(-30vh);
    }
    100% {
        transform: translateY(0px);
    }
}
