@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/mixins";

$primary: #567572;      // Sagebrush green
$secondary: #964F4C;    // Marsala

$light: #FFFAF0;    // Offwhite
$dark: #696667;     // Granite Grey

$text-light: #FFFAF0;
$text-dark: #696667;

$navbar-light-color: #FFFAF0;
$navbar-dark-color: #696667;

$spacer: 2rem;

// Remove unnecessary .scss file when done
@import "../node_modules/bootstrap/scss/bootstrap";

html {
    scroll-behavior: smooth;
}

.homepage {
    height: 100vh;
}

.footer {
    height: 30vh;
    text-align: center;
}
